// Brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

$cyan: #065a60;
// Path to Bulma's sass folder
@use "bulma/sass" with ($family-primary: '"Nunito Sans", sans-serif',
  $family-monospace: '"Jetbrains Mono", monospace',
  $primary: #0091D1,
  $link: #A800D1,
  $success: #29D100,
  $danger: #D14000,
  $control-border-width: 2px,
  $input-shadow: none,

);

tbody tr:hover {
  animation: blink 2s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

// Import the Google Font
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

div.modal-content>section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

input.time {
  max-width: 7rem;
}

div#player {
  width: 100vw;
}

div#player-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 aspect ratio (9 / 16 = 0.5625) */

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

button.play-pause {
  height: 6rem;
  width: 6rem;
  color: var(--bulma-primary);
  border-color: var(--bulma-primary);
}

div.time-inputs {
  input:first-child {
    text-align: right;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  input:nth-child(2) {
    text-align: left;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  button {
    margin-left: 0.5rem;
  }
}

div#loop-id {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

label#set-loop {

  input[type=checkbox] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  input[type=checkbox]+svg {
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
  }

  input[type=checkbox]:checked+svg {
    color: var(--bulma-success);
  }
}

input[type=range] {
  width: 60vw;
}

.slide-fade-enter-active,
.slide-fade-exit-active {
  transition: opacity 0.3s, transform 0.3s;
}

.slide-fade-enter,
.slide-fade-exit-to {
  transform: translateX(10px);
  opacity: 0;
}

.slide-fade-enter {
  transform: translateX(-10px);
}

div.notification {
  margin: 1rem;
  float: right;
}

div.top-right {
  position: absolute;
  top: 5vh;
  right: 0vw;
}
